.clearfix {
    *zoom: 1;
}
.clearfix:before,

.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

.pos-a{
    position: absolute;
}
.pos-r{
    position: relative;
}

.trbl0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.txt-l{
    text-align: left;
}
.txt-r{
    text-align: right;
}

.paper-block{
    margin: 15px 12px;
}